<div class="container-fluid">
    <div class="row">
      <div class="col-sx-12 col-md-12 text-center footer-block">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-sx-12 col-md-12 text-center footer-block">
            <p>Eyecone - Video & multimedia agency - Bruxelles +32 2 732 87 85</p>
        </div>
        <div class="col-sx-12 col-md-12 text-center footer-block">
            <p>&copy; 2016-Eyecone sprl</p>
        </div>
    </div>
</div>