<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navabar">
    <img src="img/logoeyecone.png" id="logo" alt="logo">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav text-center">
                    <li class="active"><a href="#section1"><div class="glyphicon glyphicon-home"></div>Home</a></li>
                    <li><a href="#section2">Customers</a></li>
                    <li><a href="#section3">Portfolio</a></li>
                    <li><a href="#section4">Team</a></li>
                    <li><a href="#section5"><div class="glyphicon glyphicon-envelope"></div>Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>