<div class="container-fluid">
    <div class="text-area">
        <h2>Our w<span>o</span>rk</h2>
        <span class="border"></span>
    </div>
    <div class="row rw-portfolio">
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect hover">
                <img class="img-responsive" src="http://placehold.it/100x100"  alt="">
                <div class="overlay">
                    <h2>Title</h2>
                    <p>Présentation du projet en quelques mots</p>
                    <p><button type="button" class="button-ptf btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button></p>
                </div>
            </div>
        </div>
    </div>
</div>