<div class="container-fluid">
    <div class="text-area">
        <h2>What we c<span>a</span>n do for you</h2>
        <span class="border"></span>
    </div>
    <div class="row bb">
        <div data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1" class="col-sx-4 col-md-4 presentation-block text-center">
            <h3>Media consultancy</h3>
            <img src="img/multimedia.png" class="img-presentation" alt="img-presentation"/>
            <p>Eyecone provides communication expertise and strategy to frame messages and produce content with a journalistic approach.</p>
        </div>
        <!--BLOCK Video production-->
        <div  data-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1" class="col-sx-4 col-md-4 presentation-block text-center">
            <h3>Video production</h3>
            <img src="img/technology.png" class="img-presentation" alt="img-presentation"/>
            <p>Eyecone offers production and post-production of video and multimedia content for television and the Internet.</p>
        </div>
        <!--BLOCK Video Plateform-->
        <div data-100-bottom-top="transform: translateX(200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1" class="col-sx-4 col-md-4 presentation-block text-center">
            <h3>Our online video plateform</h3>
            <img src="img/blastmedia-logo-full.png" class="img-presentation" id="blastmedia-img" alt="img-presentation"/>
            <p>We've developped a secure & innovative Digital Asset Management platform.Organise and boost your content like never before.
            </p>
            <a href="http://blastmedia.eu/
            " class="btn btn-default" role="button" target="_blank"><p>Visit Blastmedia</p></a>
        </div>
    </div>
</div>